@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
attention {
    font-size: large;
    color: #978c73;
}
healing {
    color: #357947;
}
physicalDamage {
    color: #853611;
}
scaleAD {
    color: #93561d;
}
passive {
    color: #938971;
}
active {
    color: #a08a4d;
}
speed {
    color: #a09a6e;
}
magicDamage {
    color: #067b7e;
}
keyword {
    color: #834f68;
}
scaleAp {
    color: #4b428c;
}
scaleMana {
    color: #0f5f7f;
}
shield {
    color: #307e81;
}
gold {
    color: #876a29;
}
attackSpeed {
    color: #a08a48;
}
OnHit {
    color: #978c73;
}
rarityLegendary {
    color: #978c73;
}
trueDamage {
    color: #819889;
}
